/* This file is for your main application css. */
@import "./phoenix.css";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

label.flex-row, input.flex-row {
  display: block;
}

div.table { display: table; }
div.table-head {
  display: table-header-group;
  font-weight: bold;
}
div.table-body { display: table-row-group; }
.table-row {
  display: table-row;
}
.table-body > .table-row:nth-child(odd) { background: #F7F7F7; }

div.table-head-cell {
  display: table-cell;
  padding: 1.2rem 1.5rem;
}
div.table-body-cell {
  display: table-cell;
  padding: 1.2rem 1.5rem;
  border: 1px solid #cccccc;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
