<!DOCTYPE html>
<html lang="<%= @locale %>">
  <head>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "FaqcheckWeb" %>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= for lang <- Gettext.known_locales(FaqcheckWeb.Gettext) do %>
      <link rel="alternate"
            href="<%= lang_link_self @conn, lang %>"
            hreflang="<%= lang %>">
    <% end %>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <%= if @is_mobile do %>
      <header class="mobile">
        <div class="topnav">
          <a href="/" class="button">&#x1F3E0;&#xFE0E;</a>

          <%= f = form_for :search, Routes.live_path(@conn, FaqcheckWeb.FacilitiesLive, @locale), [method: "get", class: "flex-row flex-grow"] %>
            <%= text_input f, :name, placeholder: gettext("Search"), value: @params["search"]["name"] %>
            <button type="submit">&#x1F50D;&#xFE0E;</button>
          </form>

          <button>&#x2699;&#xFE0E;</button>
          <nav class="nav-links">
            <%= for lang <- Gettext.known_locales(FaqcheckWeb.Gettext) do %>
              <a href="<%= lang_link_self @conn, lang %>"
                 hreflang="<%= lang %>"
                 type="text/html">
                <%= Gettext.with_locale(FaqcheckWeb.Gettext, lang, fn -> gettext("LANGUAGE_NAME") end) %>
              </a>
            <% end %>
          </nav>
        </div>
      </header>
    <%= else %>
      <header class="mobile">
        <section class="container">
          <nav>
            <ul>
              <%= for lang <- Gettext.known_locales(FaqcheckWeb.Gettext) do %>
                <li>
                  <a href="<%= lang_link_self @conn, lang %>"
                     hreflang="<%= lang %>"
                     type="text/html">
                    <%= Gettext.with_locale(FaqcheckWeb.Gettext, lang, fn -> gettext("LANGUAGE_NAME") end) %>
                  </a>
                </li>
              <% end %>
            </ul>
          </nav>

          <nav role="navigation" style="text-align: left;">
      	  <ul>
      	    <li><%= link gettext("%{name} home page", name: "Faqcheck"), to: lang_link([]) %></li>
      	    <%= if @current_user do %>
      	      <li><%= gettext("Signed in as: ") <> @current_user.email %></li>
      	      <li><%= link "Log out", to: Routes.sign_in_path(@conn, :index, @locale) %></li>
      	    <% else %>
      	      <li><%= link "Log in", to: Routes.sign_in_path(@conn, :index, @locale, request_path: @conn.request_path) %></li>
      	    <% end %>
      	  </ul>

            <details>
              <summary>assigns</summary>
              <%= inspect @conn.assigns %>
            </details>
          </nav>
        </section>
      </header>
    <%  end %>

    <main role="main" class="container locale-<%= @locale %> <%= @is_mobile && "mobile" || "desktop" %>">
      <nav>
        <%= for b <- @breadcrumb do %>
          <%= live_patch b.title, to: b.path %>
          &nbsp;&sol;&nbsp;
        <%  end %>
      </nav>

      <%= @inner_content %>
    </main>

    <hr />

    <footer>
      <center><%= gettext("Software version information:") <> " " <> render_version() %></center>
    </footer>

  </body>
</html>
