<h1>New Organization</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.organization_path(@conn, :create, @locale)) %>

<span><%= link gettext("Back"), to: Routes.organization_path(@conn, :index, @locale) %></span>
